/*-----------------------INDEX-----------------------*/

.titlee {
    background: rgba(245, 245, 245, 0.575);
    width: 21%;
    margin: 10px 250px 100px;
    padding: 92px 20px 33px 22px;
    border-radius: 33px;
}

.title {
    font-size: 6.5rem;
}

.p-title {
    padding: 30px 0px 0px 5px;
    font-size: 20px;
}

.since{
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
}