/*-----------------------STORY-----------------------*/

.bodystory{
    background: rgba(0, 0, 0, 0.664);
    margin-top: 40px;
    padding: 0px 0px 20px 0px;
}

.h3story{    
    font-size: 50px;
    text-align: center;
    color: rgba(245, 245, 245, 0.788);
    margin: 10px 0px;
    padding: 50px 0px 10px 0px;   
}

.story {
    display: flex;
    justify-content: center;
    align-items: center;
     width: 87%; 
     margin: auto;
    padding-top: 40px;
}

.story img{
    padding: 20px;
    width: 400px;
    height: 300px;
    border-radius: 25px;
}

 .story p{
     text-align: center;
     color: whitesmoke;
     padding: 20px;
}