/*-----------------------FOOTER-----------------------*/

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background:whitesmoke;

}

.footer img {
    width: 25px;
    height: 25px;
    margin: 0px 20px;
    padding: 2px 0px;
    cursor: pointer;
}